# .env.sample
PROVIDER_URL=https://YOUR_RPC_ENDPOINT
POOL_ADDRESS=0xYourUniswapV3PoolAddress
PORT=4000
CHAINLINK_FEED_ADDRESSES=0xFeedAddress1,0xFeedAddress2,0xFeedAddress3,0xFeedAddress4,0xFeedAddress5
